name: Run Temu Automation

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 * * * *'

jobs:
  execute-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Chrome and Driver
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium requests

      - name: Run Script
        env:
          MY_SECRET: ${{ secrets.YOUR_SECRET_NAME }}
        run: python ha.py
