name: Run Temu Automation

on:
  workflow_dispatch: # Allows you to run it manually from the "Actions" tab
  # schedule:
  #   - cron: '0 * * * *' # Optional: Run every hour

jobs:
  execute-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Chrome and Driver
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium requests

      - name: Run Script
        env:
          # Pass the secret into the script as an environment variable
         
        run: python ha.py
